

.content{

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;

}

.faq-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.faq-content.active {
    max-height: 500px;
    opacity: 1;
}